/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(85,85,85);
}

/* TRANSITION */

a, .btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */
.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    height: 17vh;
    align-items: center;
}
.nav-links{
    margin: auto 0;
}

.nav-links ul{
    display: flex;
    padding: 0;
    gap: 2rem;
    font-size: 1.5rem;
}
.nav-links ul li{
    list-style-type: none;

}
.nav-links ul li a{
    text-decoration: none;
    text-decoration-color: white;
    color: black;
}
.nav-links ul li a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color:rgb(181, 181, 181) ;
}

/* HAMBERGUR NAV */
#hamburger-nav{
    display: none;
}
.hamburger-nav-bar{
    display: flex;
    justify-content: space-around;
    height: 17vh;
    align-items: center;
}

.menu-link ul{
    font-size: 1.5rem;
}
.menu-link ul li{
    list-style-type: none;
}
.menu-link ul li a{
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.hamburger-nav-menu{
    position: relative;
}

.hamburger-icon {
    width: 30px;
    height: 24px;    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
}
.menu-link{
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-link.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg);
    translate:10px 6px;
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg);
    translate:10px -15px;

}
.hamburger-icon span:first-child{
    transform: none;
}

/* SECTION */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* PROFILE */

#porfile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 80vh;
}

.section_text{
    text-align: center;
}
.section_text p{
    font-weight: 600;
}

.section_text_info {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 3rem;
}

.section_pic img{
    border-radius: 50%;
    width: 400px;
}
.social-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.social-container img{
    width: 30px;
}

/* ICON */
.icon{
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    font-weight: 600;
}

.btn-color-2,.btn-color-1{
    border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-2:hover,.btn-color-1:hover{
    cursor: pointer;
}
.btn-color-2:hover,.btn-color-1{
    background-color: rgb(53,53,53);
    color: white;
}
.btn-color-1:hover{
    background-color: rgb(0,0,0);
}
.btn-color-2{
    background: none;
}
.btn-color-2:hover{
    background-color: rgb(255,255,255) 0.1rem solid;
}
.btn-container{
    gap: 1rem;
}

/* ABOUT SECTION */

#about{
    position: relative;  
}
#about .section-container{
    display: flex;
    align-items: center;
}
.headding{
    text-align: center;
}
.about-container{
    gap: 2rem;
    margin: 2rem auto;
}

.about-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background-color: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}
.section-container{
    gap: 4rem;
    height: 80%;
}
.section_pic-containerP{
    height: 400px;
    width: 400px;
}

/* EXPERIENCE SECTION */

#experience{
    position: relative;
}
.experience-sub-title{
    color: rgb(85,85,85);
    font-size: 1.75rem;
    margin-bottom: 2rem;
    font-weight: 600;
}
.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.article-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}
.article .icon{
    cursor: default;
}

/* PROJECT SECTION */

#project{
    position: relative;
}

.project-details-container{
    border-color: rgb(163,163,163);
    background-color: rgb(250,250,250);
}
.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
.project-title{
    margin: 1rem;
    color: black;
}
.project-btn{
    color: black;
    border-color: rgb(163,163,163);
}
.project-arrow-icon{
    position: absolute;
    right: 4rem;
}